{% extends 'staff_templates/base.html' %}
{% load bootstrap4 %}
{% load mathfilters %}
{% block page_header %}
<h2>FINAL REPORTS: Details of Students on basis of marks</h2>
{% endblock page_header %}


{% block content %}
<div>
   {% if results %}
      <ul>
         <div class="card mb-3">
            {% for y in students %}
            <div class="card-body">
            <h4 class="card-header">
               
                <li>
                  {{ y.name }}-
                      <a href="{% url 'detail1' y.registrationno %}">click here</a>
                  </li>
            </h4>
         </div>
         {% endfor %}
      </div>
   </ul>
   {% endif %}
</div>

{% endblock content %}

